<h3>SeaSafari Rezervacija</h3>

Sveiki,
<br>
Nauja rezervacija gauta iš {{ name }}. Rezervacijos detalės:
<br>
Kelionė: {{ destination }}
<br>
Keleivių skaičius: {{ passengers }},
<br>
Data: {{  date }},
<br>
Tel. nr.: {{ phone }},
<br>
El. paštas: {{ email }}
<br>
Pagarbiai robotas :)